textarea {
    min-height: 400px;
}
#emails-view div{
    padding: 5px 0px 5px 10px;
    margin-bottom: 10px;
    border-color: black;
    border-style: solid;
    border-width: thin;
}
#email .border-bottom{
    margin: 15px 0px;
}
#email div{
    margin: 5px;
}
#email .btn{
    margin: 5px 5px 10px 0px;
}
#sendbtn{
    margin: 5px 5px 10px 0px;
}
